.blogCardContainer {
    box-sizing: border-box;
    width: 350px;
    height: 400px;

    border: 2px outset #40bef4;
    border-radius: 5%;
    overflow: hidden;

    margin: 35px 35px;
    padding-bottom: 10px;
}

@keyframes hoverAnimation {
    0%   {box-shadow: 0px 0px 1px 1px blue; transform: scale(1.01);}
    25%  {box-shadow: 0px 0px 2px 2px blue; transform: scale(1.02);}
    50%  {box-shadow: 0px 0px 3px 3px blue; transform: scale(1.03);}
    100% {box-shadow: 0px 0px 4px 4px blue; transform: scale(1.04);}
  }

.blogCardContainer:hover{
    /* box-shadow: 0px 0px 4px 4px blue;
    transform: scale(1.05); */

    animation-name: hoverAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;

    box-shadow: 0px 0px 4px 4px blue; transform: scale(1.04);
}

.blogCardContainer .blogImageContainer{
    width: 100%;
    height: 45%;
}

.blogCardContainer .blogImageContainer .blogImage{
    width: 100%;
    height: 100%;
    
}

.blogCardContainer .blogTitleContainer{
    width: 100%;
    text-align: center;
}

/* .blogCardContainer .blogTitleContainer h2{
    color: black;
} */

.blogCardContainer .blogContentContainer{
    box-sizing: border-box;
    width: 100%;
    height: 45%;
    border-top: 5px solid #40bef4;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.blogCardContainer .blogContentContainer .blogDescriptionContainer{
    box-sizing: border-box;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 10px;

    color: blue;
}

.blogCardContainer .blogContentContainer .votesContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogCardContainer .blogContentContainer .votesContainer .upVoteContainer{
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}

.blogCardContainer .blogContentContainer .votesContainer .upVoteContainer span{
    color: green;
}

.blogCardContainer .blogContentContainer .votesContainer .upVoteContainer img{
    width: 20%;
    /* height: 100%; */
}

.blogCardContainer .blogContentContainer .votesContainer .downVoteContainer{
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.blogCardContainer .blogContentContainer .votesContainer .downVoteContainer span{
    color: red;
}

.blogCardContainer .blogContentContainer .votesContainer .downVoteContainer img{
    width: 20%;
}

.blogsContainer .blogCardContainer .blogReadMoreContainer{
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* .blogReadMoreContainer .readMoreButton{
    color: white;
} */
