@keyframes moveUp {
    0% {
      transform: translateY(8vh);
    }
    100% {
      transform: translateY(0px);
    }
  }
  

.readQuote{
    width: 40vw;
    height: 30vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 2%;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.45);

}

.readQuote h2{
    font-size: 30px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.readQuote p{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.quotesContainer{

    margin-top: 15vh;

    display: flex;
    align-items: center;
    justify-content: center;
}