.commentBoxContainer{
    margin-top: 20px;
    width: 100%;
    height: 220px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.commentBoxContainer .commentBoxEditor{
    width: 95%;
    height: 70%;
    background-color: white;
    /* border: 2px solid grey; */
    border-radius: 5px;

    outline: none;

    padding: 10px;

    font-size: 22px;
}

.commentBoxContainer .commentBoxEditor:focus{
    border: 2px solid blue;
    box-shadow: 0px 0px 10px 0px lightblue;
}

.commentBoxContainer .commentSubmit{
    margin-top: 10px;
    width: 7%;
    height: 25%;
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
}

.commentBoxContainer .commentSubmit:active{
    border: 2px solid blue;
    box-shadow: 0px 0px 20px 0px lightblue;
    background-color: white;
    color: black;
}